/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  /* margin: 0; */
  }
p:last-child {
  margin-bottom: 0;
}


button{
  width: 91px;
  height: 40px;
  border-radius: 8px;
  background-color: #4E75FF;
  color: #FFFFFF;
  border: none;
  font-size: 16px;
}
input{
  width: 272px;
  height: 40px;
  border-color: #808080;
  color: #808080;
  border-radius: 4px;
  padding-top: 8px;
  padding-left: 16px;
  font-size: 16px;
}

.gallery{
  display: flex;
 flex-wrap: wrap;
 max-width: 1128px;
 gap: 24px;
 margin: 0 auto;
 margin-top: 24px;
}

.gallery-items{
width: 360px;
height: 200px;
/* overflow: hidden; */
}
.gallery-item{
  width: 360px;
  height: 152px;
  overflow: hidden;
}
.gallery-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-info{
  display: flex;
  gap: 28px;
  justify-content: space-between;
  padding: 4px 20px;
 }

.images-name{
  font-size: 12px;
  color: #2E2F42;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.images-num{
  font-size: 12px;
  color: #2E2F42;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
/* 
.loader {
  width: 48px;
  height: 48px;
  border: 3px dotted #0c0c0c;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #FF3D00;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}  */

.loader {
  width: 160px;
  height: 185px;
  position: relative;
  background: brown;
  border-radius: 100px 100px 0 0;
  margin: 0 auto;
}
.loader:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 125px;
  left: 50%;
  top: 25px;
  transform: translateX(-50%);
  background-image: radial-gradient(circle, #000 48%, transparent 55%),
    radial-gradient(circle, #000 48%, transparent 55%),
    radial-gradient(circle, #fff 30%, transparent 45%),
    radial-gradient(circle, #000 48%, transparent 51%),
    linear-gradient(#000 20px, transparent 0),
    linear-gradient(#cfecf9 60px, transparent 0),
    radial-gradient(circle, #cfecf9 50%, transparent 51%),
    radial-gradient(circle, #cfecf9 50%, transparent 51%);
  background-repeat: no-repeat;
  background-size: 16px 16px, 16px 16px, 10px 10px, 42px 42px, 12px 3px,
    50px 25px, 70px 70px, 70px 70px;
  background-position: 25px 10px, 55px 10px, 36px 44px, 50% 30px, 50% 85px,
    50% 50px, 50% 22px, 50% 45px;
  animation: faceLift 3s linear infinite alternate;
}
.loader:before {
  content: "";
  position: absolute;
  width: 140%;
  height: 125px;
  left: -20%;
  top: 0;
  background-image: radial-gradient(circle,  brown 48%, transparent 50%),
    radial-gradient(circle,  brown 48%, transparent 50%);
  background-repeat: no-repeat;
  background-size: 65px 65px;
  background-position: 0px 12px, 145px 12px;
  animation: earLift 3s linear infinite alternate;
}

@keyframes faceLift {
  0% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(-30%);
  }
}
@keyframes earLift {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
  
.container{
  width: 100%;
  text-align: center;
  padding-top: 30px;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}